@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.sidebar{
  background-color:#31394c;
}
.userlogin{
  display: flex;;
}
.userloginelement{
  flex: 1;
  display: flex; 
  align-items: center; 
  justify-content: center;
  padding-left: 5px;
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.headersize{
  height: 5.74rem;
}

.test {
  width: 500px;
  height: 500px;
}

.test-container {
  width: 100%;
  height: 100%;
}
.container1{
  width: 100%; height: 250px; max-height: 100%;
}
.container2{
  top: 0; left: 0; right: 0; bottom: 0; height: 400px;
}
.content
{
  height: 90%;
}
.noscrollbar::-webkit-scrollbar 
{
  display: none;
}
.noscrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.dashboardopt {
  display: flex;
  flex-wrap: wrap;
}
.child {
  flex: 1;
}
.search input::placeholder {
  padding: 10px;
}
@media (max-width: 767px) 
{
  .traffic{
    width: auto;
  }
  .topcities{
    width: auto;
  }
  .sidebar{
    width: 3rem;
  }
  .subsidebar 
  {
    display: none;
  }
  .box-data{
    overflow: scroll;
  }
  .hide_small_screen
  {
    display: none;
  }
  .data_tables
  {
    display: flex;
    flex-direction: column;
  }
  .userlogin
  {
    background-color:white;
  }
}